*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/captures/
*.apk
*.jks
node_modules/
dist/
.next/
.env
.env.local
*.log

app/build/
core/*/build/
feature/*/build/
hardware/*/build/
kiosk/build/
